/* --------------------------------------------------------------------------------
* layout.css.scss
*
* Defines the basic layout of the page and the elements that can be used to make the 
* page turn into whatever flow we want
*
* @author : Jais Cheema 
*
* Copyright 2011 Jais Cheema
-----------------------------------------------------------------------------------*/

@mixin lr-align {
	&.left {
		float:left;
		margin:20px 0 0 0;
	}

	&.right {
		float:left;
		margin:20px 0 0 20px;
	}
}


body {
	.body_container {
		width:100%;
		min-height:100%;
		height:auto !important;
		height:100%;
		margin:0 auto -280px;	

		.primary_container {

			.width_container {
				position:relative;
				margin:0px auto;
				width:1024px;

				&.modal {
					width:100%;
				}

				&.padd {
					margin-bottom:50px;
				}

				.absoluted {
					position:absolute;
				}

				.join_container {
					overflow:auto;
				}

				header {
					margin-top:20px;
					overflow:auto;

					.logo {
						background:url('/assets/elements/header-logo.png') no-repeat;
						height:62px;
						width:278px;
						float:left;
						margin-left:10px;
					}	

					nav {
						margin-top:40px;
						margin-right:30px;
						float:right;

						ul {
							list-style:none;
							height:40px;
							font-size:17px;

							li {
								display:block;
								float:left;
								text-align:right;

								a {
									padding:3px 20px;
									display:block;
								}
							}
						}
					}
				}

				.content {
					&.main {
						width:675px;

						&.stretch {
							width:1024px;
							clear:both;
						}

						@include lr-align;
					}

					&.aside {
						width:325px;
						@include lr-align;
					}
				}

				.breadcrumbs {
					margin-top:25px;

					ul {
						height:30px;
						line-height:30px;
						border-top:1px solid #CACACA;
						border-bottom:1px solid #CACACA;
						overflow:hidden;
						margin:0px;
						margin-left:30px;
						margin-right:30px;
						padding:5px;

						li {
							list-style-type:none;
							float:left;
							padding-left:10px;
						}

						a {
							height:30px;
							display:block;
							background:url('/assets/elements/bc_separator.png') no-repeat right;
							padding-right:15px;
						}

						.home
						{
							border:none;
							margin:8px 0px;
						}
					}
				}

				.top_shadow_border {
					background:url('/assets/elements/shadow.png') no-repeat top center;
					border-top:1px solid gainsboro;
					padding-top:20px;
				}

				.page_title {
					padding-bottom:40px;
					text-align:center;
					padding-top:20px;
						
					h1 {
						display:block;
						margin:auto;
						width:800px;
					}

					&.left {
						text-align:left;
						padding-bottom:20px;
						padding-left:12px;

						h1 {
							width:100%;
						}
					}

					&.right {
						text-align:right;
						padding-bottom:10px;
						padding-right:12px;

						h1 {
							width:100%;
						}
					}
				}
			}

			&.special {
				background:#E4E4E4 url('/assets/elements/shadow.png') center 0 no-repeat;
				border-top:1px solid gainsboro;
				margin:14px 0 0 0;
				padding:40px 0;
			}
		}

		.push {
			height:280px;
			clear:both;
		}
	}

	.footer {
		width:100%;
		background:url('/assets/elements/footer-bg.png') repeat-x;
		height:229px;
		border-top:1px solid #DDD;
		clear:both;
		padding-top:40px;
		padding-bottom:10px;

		.container {
			position:relative;
			margin:0px auto;
			width:1024px;
			padding:0px 20px;

			nav {
				overflow:auto;

				section {
					float:left;
					margin-right:25px;
					width:200px;

					ul {
						list-style:none;
						margin-left:10px;
					}
				}

				.footer_logo {
					width:253px;
					height:53px;
					float:right;
					margin-top:30px;
					background:url('/assets/elements/footer_logo.png') no-repeat;	
				}
			}

			p.copyright {
				margin-top:40px;
				display:block;
				float:left;
				height:20px;
			}
		}
	}

	/** Definite Container classes */

	.col {
		float:left;
		margin-left:15px;

		&.oneof2 {
			width:490px;
		}

		&.oneof3 {
			width:325px;
		}

		&.oneof4 {
			width:230px;
		}
	}
}
