.topbar{"data-scrollspy" => "scrollspy"}
   .fill
      .container
         %a.brand{ :href => "/"} ਆਪਣਾ ਵਿਰਸਾ
         %ul.nav
            %li= link_to "Home", root_path
            %li= link_to "Profile", profile_path
            %li= link_to "Popular", popular_posts_path
            %li= link_to "Settings", settings_path